.app {
    min-height: 100vh;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    }

.search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.search-bar {
    width: 50%;
    border: none;
    padding: 10px;
    }

.search-button {
    background-color: lightcoral;
    border: none;
    padding: 10px 20px;
    color: #fff;
    }

.search-button:hover {
    cursor: pointer;
    }

.recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
