.recipe {
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    align-items: center;
    min-width: 40%;
    }

.image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    }
